<h2>Change your password</h2>

<%= simple_form_for(:account, url: account_password_path, html: { method: :put, class: 'form' }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit 'Change my password', class: "btn-primary" %>

<% end %>
