<h2>Forgot your password?</h2>

<%= simple_form_for(:account, url: account_password_path, html: { class: 'form' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email %>
  <%= f.submit 'Send me reset password instructions', class: "btn-primary" %>
<% end %>

