<!doctype html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="schubo">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Schubo App</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
      <span><i class="lnr lnr-sun"></i></span>
    </div>
    <!-- MainMenu-Area -->
    <nav class="mainmenu-area" data-spy="affix" data-offset-top="200">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary_menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <%= image_tag("e_GO_logo.png") %>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="primary_menu">
          <ul class="nav navbar-nav mainmenu">
            <li class="active"><a href="#home_page">Home</a></li>
            <li><a href="#about_page">About</a></li>
            <li><a href="#features_page">Features</a></li>
            <li><a href="#gallery_page">Gallery</a></li>
            <li><a href="#price_page">Pricing</a></li>
            <li><a href="#questions_page">FAQ</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="#contact_page">Contacts</a></li>
          </ul>
          <div class="right-button hidden-xs">
            <% if current_account %>
              <%= link_to "Go To Dashboard", dashboards_path %>
            <% else %>
              <%= link_to "Sign In", new_account_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <!-- MainMenu-Area-End -->
    <!-- Home-Area -->
    <header class="home-area overlay" id="home_page">
      <div class="container">
        <div class="row">
          <%= render 'layouts/messages' %>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 hidden-sm col-md-5">
            <!-- <figure class="mobile-image wow fadeInUp" data-wow-delay="0.2s">
              <img src="images/header-mobile.png" alt="">
            </figure> -->
          </div>
          <div class="col-xs-12 col-md-7">
            <div class="space-80 hidden-xs"></div>
            <h1 class="wow fadeInUp" data-wow-delay="0.4s">Start your safe journey through Schubo.</h1>
            <div class="space-20"></div>
            <div class="desc wow fadeInUp" data-wow-delay="0.6s">
              <p>
                e.GO Schubo – School bus on demand, aimed at providing safe and comfortable trips to and from school for kids, includes e.GO Movers, web interfaces for schools and e.GO Mobile AG, mobile app for parents and kids.
              </p>
            </div>
            <div class="space-20"></div>
            <a href="#" class="bttn-white wow fadeInUp" data-wow-delay="0.8s"><i class="lnr lnr-download"></i>Download App</a>
          </div>
        </div>
      </div>
    </header>
    <!-- Home-Area-End -->
    <!-- About-Area -->
    <section class="section-padding" id="about_page">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="page-title text-center">
              <img src="images/about-logo.png" alt="About Logo">
              <div class="space-20"></div>
              <h5 class="title">About Schubo</h5>
              <div class="space-30"></div>
              <h3 class="blue-color">Schubo Project is aimed at providing safe transportation for kids from home to school and back </h3>
              <div class="space-20"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiing elit, sed do eiusmod tempor incididunt ut labore et laborused sed do eiusmod tempor incididunt ut labore et laborused.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About-Area-End -->
    <!-- Progress-Area -->
    <section class="progress-area gray-bg" id="progress_page">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="page-title section-padding">
              <h5 class="title wow fadeInUp" data-wow-delay="0.2s">Our Progress</h5>
              <div class="space-10"></div>
              <h3 class="dark-color wow fadeInUp" data-wow-delay="0.4s">Grat Application Ever</h3>
              <div class="space-20"></div>
              <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                <p>Lorem ipsum dolor sit amet, consectetur adipiing elit, sed do eiusmod tempor incididunt ut labore et laborused sed do eiusmod tempor incididunt ut labore et laborused.</p>
              </div>
              <div class="space-50"></div>
              <a href="#" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">Learn More</a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <figure class="mobile-image">
              <img src="images/progress-phone.png" alt="">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- Progress-Area-End -->
    <!-- Video-Area -->
    <section class="video-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="video-photo">
              <img src="images/video-image.jpg" alt="">
              <a href="https://www.youtube.com/watch?v=ScrDhTsX0EQ" class="popup video-button">
                <img src="images/play-button.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-5 col-md-offset-1">
            <div class="space-60 hidden visible-xs"></div>
            <div class="page-title">
              <h5 class="title wow fadeInUp" data-wow-delay="0.2s">VIDEO FEATURES</h5>
              <div class="space-10"></div>
              <h3 class="dark-color wow fadeInUp" data-wow-delay="0.4s">Grat Application Ever</h3>
              <div class="space-20"></div>
              <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                <p>Lorem ipsum dolor sit amet, consectetur adipiing elit, sed do eiusmod tempor incididunt ut labore et laborused sed do eiusmod tempor incididunt ut labore et laborused.</p>
              </div>
              <div class="space-50"></div>
              <a href="#" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Video-Area-End -->
    <!-- Feature-Area -->
    <section class="feature-area section-padding-top" id="features_page">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="page-title text-center">
              <h5 class="title">Features</h5>
              <div class="space-10"></div>
              <h3>Powerful Features As Always</h3>
              <div class="space-60"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="box-icon">
                <i class="lnr lnr-rocket"></i>
              </div>
              <h4>Fast &amp; Powerful</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="space-60"></div>
            <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="box-icon">
                <i class="lnr lnr-paperclip"></i>
              </div>
              <h4>Easily Editable</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="space-60"></div>
            <div class="service-box wow fadeInUp" data-wow-delay="0.6s">
              <div class="box-icon">
                <i class="lnr lnr-cloud-download"></i>
              </div>
              <h4>Cloud Storage</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="space-60"></div>
          </div>
          <div class="hidden-xs hidden-sm col-md-4">
            <figure class="mobile-image">
              <img src="images/feature-image.png" alt="Feature Photo">
            </figure>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="box-icon">
                <i class="lnr lnr-clock"></i>
              </div>
              <h4>Easy Notifications</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="space-60"></div>
            <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="box-icon">
                <i class="lnr lnr-laptop-phone"></i>
              </div>
              <h4>Fully Responsive</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="space-60"></div>
            <div class="service-box wow fadeInUp" data-wow-delay="0.6s">
              <div class="box-icon">
                <i class="lnr lnr-cog"></i>
              </div>
              <h4>Editable Layout</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="space-60"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Feature-Area-End -->
    <!-- Testimonial-Area -->
    <section class="testimonial-area" id="testimonial_page">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="page-title text-center">
              <h5 class="title">Testimonials</h5>
              <h3 class="dark-color">Our Client Loves US</h3>
              <div class="space-60"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="team-slide">
              <div class="team-box">
                <div class="team-image">
                  <img src="images/team-1.png" alt="">
                </div>
                <h4>Ashekur Rahman</h4>
                <h6 class="position">Art Dirrector</h6>
                <p>Lorem ipsum dolor sit amet, conseg sed do eiusmod temput laborelaborus ed sed do eiusmod tempo.</p>
              </div>
              <div class="team-box">
                <div class="team-image">
                  <img src="images/team-2.jpg" alt="">
                </div>
                <h4>Ashekur Rahman</h4>
                <h6 class="position">Art Dirrector</h6>
                <p>Lorem ipsum dolor sit amet, conseg sed do eiusmod temput laborelaborus ed sed do eiusmod tempo.</p>
              </div>
              <div class="team-box">
                <div class="team-image">
                  <img src="images/team-3.jpg" alt="">
                </div>
                <h4>Ashekur Rahman</h4>
                <h6 class="position">Art Dirrector</h6>
                <p>Lorem ipsum dolor sit amet, conseg sed do eiusmod temput laborelaborus ed sed do eiusmod tempo.</p>
              </div>
              <div class="team-box">
                <div class="team-image">
                  <img src="images/team-1.png" alt="">
                </div>
                <h4>Ashekur Rahman</h4>
                <h6 class="position">Art Dirrector</h6>
                <p>Lorem ipsum dolor sit amet, conseg sed do eiusmod temput laborelaborus ed sed do eiusmod tempo.</p>
              </div>
              <div class="team-box">
                <div class="team-image">
                  <img src="images/team-2.jpg" alt="">
                </div>
                <h4>Ashekur Rahman</h4>
                <h6 class="position">Art Dirrector</h6>
                <p>Lorem ipsum dolor sit amet, conseg sed do eiusmod temput laborelaborus ed sed do eiusmod tempo.</p>
              </div>
              <div class="team-box">
                <div class="team-image">
                  <img src="images/team-3.jpg" alt="">
                </div>
                <h4>Ashekur Rahman</h4>
                <h6 class="position">Art Dirrector</h6>
                <p>Lorem ipsum dolor sit amet, conseg sed do eiusmod temput laborelaborus ed sed do eiusmod tempo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial-Area-End -->
    <!-- Gallery-Area -->
    <section class="gallery-area section-padding" id="gallery_page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6 gallery-slider">
            <div class="gallery-slide">
              <div class="item"><img src="images/gallery-1.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-2.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-3.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-4.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-1.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-2.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-3.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-1.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-2.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-3.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-4.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-1.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-2.jpg" alt=""></div>
              <div class="item"><img src="images/gallery-3.jpg" alt=""></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-lg-3">
            <div class="page-title">
              <h5 class="white-color title wow fadeInUp" data-wow-delay="0.2s">Screenshots</h5>
              <div class="space-10"></div>
              <h3 class="white-color wow fadeInUp" data-wow-delay="0.4s">Screenshot 01</h3>
            </div>
            <div class="space-20"></div>
            <div class="desc wow fadeInUp" data-wow-delay="0.6s">
              <p>Lorem ipsum dolor sit amet, consectetur adipiing elit, sed do eiusmod tempor incididunt ut labore et laborused sed do eiusmod tempor incididunt ut labore et laborused.</p>
            </div>
            <div class="space-50"></div>
            <a href="#" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery-Area-End -->
    <!-- How-To-Use -->
    <section class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="page-title">
              <h5 class="title wow fadeInUp" data-wow-delay="0.2s">Our features</h5>
              <div class="space-10"></div>
              <h3 class="dark-color wow fadeInUp" data-wow-delay="0.4s">Our Approach of Design is Pretty Simple and Clear</h3>
            </div>
            <div class="space-20"></div>
            <div class="desc wow fadeInUp" data-wow-delay="0.6s">
              <p>Lorem ipsum dolor sit amet, consectetur adipiing elit, sed do eiusmod tempor incididunt ut labore et laborused sed do eiusmod tempor incididunt ut labore et laborused.</p>
            </div>
            <div class="space-50"></div>
            <a href="#" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">Learn More</a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
            <div class="space-60 hidden visible-xs"></div>
            <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="box-icon">
                <i class="lnr lnr-clock"></i>
              </div>
              <h4>Easy Notifications</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            </div>
            <div class="space-50"></div>
            <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="box-icon">
                <i class="lnr lnr-laptop-phone"></i>
              </div>
              <h4>Fully Responsive</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            </div>
            <div class="space-50"></div>
            <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="box-icon">
                <i class="lnr lnr-cog"></i>
              </div>
              <h4>Editable Layout</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- How-To-Use-End -->
    <!-- Download-Area -->
    <div class="download-area overlay">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 hidden-sm">
            <figure class="mobile-image">
              <img src="images/download-image.png" alt="">
            </figure>
          </div>
          <div class="col-xs-12 col-md-6 section-padding">
            <h3 class="white-color">Download The App</h3>
            <div class="space-20"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam possimus eaque magnam eum praesentium unde.</p>
            <div class="space-60"></div>
            <a href="#" class="bttn-white sq"><img src="images/apple-icon.png" alt="apple icon"> Apple Store</a>
            <a href="#" class="bttn-white sq"><img src="images/play-store-icon.png" alt="Play Store Icon"> Play Store</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Download-Area-End -->
    <!--Price-Area -->
    <section class="section-padding price-area" id="price_page">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="page-title text-center">
              <h5 class="title">Pricing Plan</h5>
              <h3 class="dark-color">Our Awesome Pricing Plan</h3>
              <div class="space-60"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="price-box">
              <div class="price-header">
                <div class="price-icon">
                  <span class="lnr lnr-rocket"></span>
                </div>
                <h4 class="upper">Free</h4>
              </div>
              <div class="price-body">
                <ul>
                  <li>Easy Installations</li>
                  <li>Unlimited support</li>
                  <li>Uniqe Elements</li>
                </ul>
              </div>
              <div class="price-rate">
                <sup>&#36;</sup> <span class="rate">0</span> <small>/Month</small>
              </div>
              <div class="price-footer">
                <a href="#" class="bttn-white">Purchase</a>
              </div>
            </div>
            <div class="space-30 hidden visible-xs"></div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="price-box">
              <div class="price-header">
                <div class="price-icon">
                  <span class="lnr lnr-diamond"></span>
                </div>
                <h4 class="upper">Medium</h4>
              </div>
              <div class="price-body">
                <ul>
                  <li>Easy Installations</li>
                  <li>Unlimited support</li>
                  <li>Free Forever</li>
                </ul>
              </div>
              <div class="price-rate">
                <sup>&#36;</sup> <span class="rate">49</span> <small>/Month</small>
              </div>
              <div class="price-footer">
                <a href="#" class="bttn-white">Purchase</a>
              </div>
            </div>
            <div class="space-30 hidden visible-xs"></div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="price-box">
              <div class="price-header">
                <div class="price-icon">
                  <span class="lnr lnr-pie-chart"></span>
                </div>
                <h4 class="upper">Business</h4>
              </div>
              <div class="price-body">
                <ul>
                  <li>Easy Installations</li>
                  <li>Unlimited support</li>
                  <li>Free Forever</li>
                </ul>
              </div>
              <div class="price-rate">
                <sup>&#36;</sup> <span class="rate">99</span> <small>/Month</small>
              </div>
              <div class="price-footer">
                <a href="#" class="bttn-white">Purchase</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Price-Area-End -->
    <!--Questions-Area -->
    <section id="questions_page" class="questions-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="page-title text-center">
              <h5 class="title">FAQ</h5>
              <h3 class="dark-color">Frequently Asked Questions</h3>
              <div class="space-60"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="toggole-boxs">
              <h3>Faq first question goes here? </h3>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <h3>About freewuent question goes here? </h3>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <h3>Why more question goes here? </h3>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <h3>What question goes here? </h3>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="space-20 hidden visible-xs"></div>
            <div class="toggole-boxs">
              <h3>Faq second question goes here? </h3>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <h3>Third faq question goes here? </h3>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <h3>Why more question goes here? </h3>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <h3>Seventh frequent question here? </h3>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Questions-Area-End -->
    <!-- Subscribe-Form -->
    <div class="subscribe-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="subscribe-form text-center">
              <h3 class="blue-color">Subscribe for More Features</h3>
              <div class="space-20"></div>
              <form id="mc-form">
                <input type="email" class="control" placeholder="Enter your email" required="required" id="mc-email">
                <button class="bttn-white active" type="submit"><span class="lnr lnr-location"></span> Subscribe</button>
                <label class="mt10" for="mc-email"></label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subscribe-Form-Area -->
    <!-- Footer-Area -->
    <footer class="footer-area" id="contact_page">
      <div class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="page-title text-center">
                <h5 class="title">Contact US</h5>
                <h3 class="dark-color">Find Us By Bellow Details</h3>
                <div class="space-60"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="footer-box">
                <div class="box-icon">
                  <span class="lnr lnr-map-marker"></span>
                </div>
                <p>Campus-Boulevard 30 <br />
                  52074 Aachen, Germany</p>
              </div>
              <div class="space-30 hidden visible-xs"></div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="footer-box">
                <div class="box-icon">
                  <span class="lnr lnr-phone-handset"></span>
                </div>
                <p>+ 49 241 47574 - 200</p>
              </div>
              <div class="space-30 hidden visible-xs"></div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="footer-box">
                <div class="box-icon">
                  <span class="lnr lnr-envelope"></span>
                </div>
                <p>yourmail@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer-Bootom -->
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <span>Copyright &copy;<script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="lnr lnr-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></span>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <div class="space-30 hidden visible-xs"></div>
            </div>
            <div class="col-xs-12 col-md-7">
              <div class="footer-menu">
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Testimonial</a></li>
                  <li><a href="#">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer-Bootom-End -->
    </footer>
    <!-- Footer-Area-End -->
    <!--Vendor-JS-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/jquery-ui.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/ajaxchimp.js"></script>
    <script src="js/scrollUp.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="js/main.js"></script>
  </body>
</html>
