<% if @invitation.invited_by.admin? %>
  <h2><%= t '.header_school' %></h2>
<% elsif @invitation.invited_by.school? %>
  <h2><%= t '.header_parent' %></h2>
<% end %>

<% if @invitation.as_parent? && @invitation.account.entity.present? %>
  <p><%= t '.accept_content', school_name: @invitation.invited_by.entity.name %></p>
  <%= simple_form_for(:account, url: invitation_path, html: { method: :put, class: 'form' }) do |f| %>
    <%= f.input :token, as: :hidden, input_html: { value: @invitation.token } %>
    <%= f.submit t('.submit_button'), class: 'btn-primary' %>
  <% end %>
<% else %>
  <%= simple_form_for(:account, url: invitation_path, html: { method: :put, class: 'form' }) do |f| %>
    <%= f.input :token, as: :hidden, input_html: { value: @invitation.token } %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.simple_fields_for :entity do |e| %>
      <% if @invitation.invited_by.admin? %>
        <%= e.input :type, as: :hidden, input_html: { value: 'school' } %>
        <%= e.input :name %>
      <% elsif @invitation.invited_by.school? %>
        <%= e.input :type, as: :hidden, input_html: { value: 'parent' } %>
        <%= e.input :first_name %>
        <%= e.input :last_name %>
      <% end %>
      <%= e.input :street %>
      <%= e.input :street_number %>
      <%= e.input :zipcode %>
      <%= e.input :town %>
      <%= e.input :phone_no %>
    <% end %>
    <%= f.submit t('.submit_button'), class: 'btn-primary' %>
  <% end %>
<% end %>
