<h2>
  <%= t ".header" %>
</h2>

<%= simple_form_for :account, url: invitation_path, html: { class: 'form' } do |f| %>

  <%= f.input :email %>
  <%= f.submit t(".submit_button"), class: 'btn-primary' %>

<% end %>
