<h2>Log in</h2>
<%= simple_form_for(:account, url: account_session_path, html: { class: 'form' }) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, as: :boolean %>
  <% end %>
  <%= f.submit 'Log in', class: "btn-primary" %>
<% end %>
<%= render "devise/shared/links" %>
