<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Home", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
        <% if current_account&.admin? || current_account&.school? %>
        <%= link_to "Invite User", new_invitation_path, class: 'nav-item nav-link' %>
        <% end %>
      </div>
      <div class="navbar-nav">
        <% if current_account %>
        <span class="nav-item nav-link">
          Welcome,
          <%= current_account.entity.try(:name) || current_account.entity.try(:first_name) || current_account.email %>
        </span>
        <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: 'nav-item nav-link' %>
        <% else %>
        <%= link_to "Sign In", new_account_session_path, class: 'nav-item nav-link' %>
        <% end %>
      </div>
    </div>
  </nav>
</div>
